body {
    background-color: rgb(240, 231, 203);
    color: #361c02;
    margin: 0;
    overflow-y: scroll;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
}

nav a {
    flex: 1;
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #ce473a;
    color: antiquewhite;
    text-decoration: none;

    border: gold 2px groove;
}

h1, p {
    margin: 10px;
}

#adventureGrid {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

.possibleAdventure {
    width: 100px;
    height: 100px;
    background-size: auto 100%;
    background-position: 80% 0;
    clip-path: circle();
    cursor: pointer;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 80px;
}

#image {
    width: 75%;
    aspect-ratio: 1;
    background-size: 800% 900%;
    max-width: 512px;
    border-radius: 10px;
}

#text {
    background-color: antiquewhite;
    border: black solid 2px;
    cursor: pointer;
    max-width: 1000px;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 10px;
}

#end {
    background-image: url("img/TheEnd.png");
    aspect-ratio: 668 / 373;
    width: 50%;
    background-size: 100% 100%;
    position: absolute;
    left: 25%;
    top: 20%;
    cursor: pointer;
}

#clear {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 5px gold solid;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

#clear:hover {
    color: white;
}

#clear:active {
    background-color: greenyellow;
}

.complete {
    width: 100%;
    height: 100%;
    background-image: url("img/checkmark.png");
    background-size: 100% 100%;
}

#options {
    position: absolute;
    height: 50px;
    width: 150%;
    left: -25%;
    bottom: -60px;
    display: flex;
    justify-content: space-around;
    cursor: default;
}

.option {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: aquamarine;
    border: black solid 2px;
    border-radius: 3px;
    cursor: pointer;
}