body {
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  place-items: stretch;
  gap: 15px;
  
  height: 97dvh;
}

#p1 {
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: red;
}

#p2 {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: yellow;
}

#p3 {
  grid-row-start: 2;
  grid-column-start: 1;
  background-color: blue;
}

#p4 {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: green;
}
