body {
    background-image: url("parchement.jpg");
    color: #361c02;
    margin: 0;
    overflow-y: scroll;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
}

nav a {
    flex: 1;
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #7B2D26;
    color: antiquewhite;
    text-decoration: none;

    border: gold 2px groove;
}