body {
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  place-content: stretch;
  place-items: stretch;
}

#1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

#2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

#3 {
  grid-row-start: 2;
  grid-column-start: 1;
}

#4 {
  grid-row-start: 2;
  grid-column-start: 2;
}
