body {
    background-color: #eafff8ff;
    color: #361c02;
    margin: 0;
    overflow-y: scroll;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    z-index: 5;
}

nav a {
    flex: 1;
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #118273ff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #2f7a8fff;
}

#blue {
    color: #155a80ff;
}

#green {
    color: #127e6fff;
}

h1, p {
    margin: 10px;
}

#adventureGrid {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

.possibleAdventure {
    width: 100px;
    height: 100px;
    background-size: auto 100%;
    background-position: 80% 0;
    clip-path: circle();
    cursor: pointer;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 80px;
}

#image {
    height: 50vh;
    aspect-ratio: 1;
    border-radius: 10px;
}

#text {
    background-color: rgba(217, 240, 243, 1);
    border: black solid 2px;
    max-width: 1000px;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 10px;
}

#end {
    background-image: url("img/TheEnd.png");
    aspect-ratio: 1024 / 630;
    width: 50%;
    max-width: 1024px;
    background-size: 100% 100%;
    position: relative;
    left: 25%;
    top: 20px;
    cursor: pointer;
}

#continue {
    background-color: aquamarine;
    padding: 10px 0 10px 0;
    border: black solid 2px;
    position: relative;
    width: 50%;
    max-width: 1024px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    top: 40px;
    left: 25%;
    border-radius: 3px;
    cursor: pointer;
}

#questions {
    background-color: aquamarine;
    padding: 10px 0 10px 0;
    border: black solid 2px;
    position: relative;
    width: 50%;
    max-width: 1024px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    top: 60px;
    left: 25%;
    border-radius: 3px;
    cursor: pointer;
}

.complete {
    width: 100%;
    height: 100%;
    background-image: url("img/checkmark.png");
    background-size: 100% 100%;
}

#options {
    position: absolute;
    height: 50px;
    width: 150%;
    left: -25%;
    bottom: -60px;
    display: flex;
    justify-content: space-around;
    cursor: default;
}

.option {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: aquamarine;
    border: black solid 2px;
    border-radius: 3px;
    cursor: pointer;
}

#frontPageText {
    font-size: clamp(1rem, 1.4rem, 5vw); 
}

#frontPageImage {
    max-width: 50%;
    float: right;
}

#logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    aspect-ratio: 1;
    width: 10%;
    max-width: 128px;
    background-image: url("img/icons/icon512x512.png");
    background-size: 100% 100%;
    z-index: 5;
}

#mainContent {
    position: relative;
}

#singleQuestion {
    background-color: rgba(217, 240, 243, 1);
    border: black solid 2px;
    border-radius: 3px;
    max-width: 1000px;
    width: 60%;
    position: relative;
    top: 20px;
    text-align: center;
    padding: 10px;
}

#questionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#questionOptions {
    display: flex;
    position: relative;
    top: 40px;
    justify-content: space-around;
    height: 50px;
    width: 60%;
    left: 20%;
}

#imageWrapper {
    display: flex;
    justify-content: center;
}

#storyImage {
    height: 50vh;
    aspect-ratio: 1;
    background-size: 100% 100%;
    border-radius: 10px;
}

#nextQuestionWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    gap: 20px;
}

#response {
    background-color: rgba(217, 240, 243, 1);
    border: black solid 2px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 60%;
}

#nextQuestion {
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 60%;
    display: block;
}

#submitButton {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

@media all and (max-width: 700px) {
    h1 {
        font-size: 2.4rem;
    }

    figcaption {
        font-size: 1rem;
    }
}